<!--
	This page creates the UI for the `Research_Papers` entity that stores data on all publications in the database.

	Code citation:
		Dr. Michael Curry. 2022. 
		"Step 4 - Dynamically Displaying Data". 
		"Step 5 - Adding New Data".
		"Step 6 - Dynamically Filling Dropdowns and Adding a Search Box".
		"Step 8 - Dynamically Updating Data".
		[Source code] https://github.com/osu-cs340-ecampus/nodejs-starter-app/. URL
-->

<h1>Citations</h1>

<!-- Display the navigation bar to visit other pages. -->
<nav>
	<a href="/">Index</a>
	<a href="/research_papers">Research Papers</a>
	<a href="/citations">Citations</a>
	<a href="/authors">Authors</a>
	<a href="/research_papers_has_authors">Publications (All)</a>
	<a href="/institutions">Institutions</a>
	<a href="/disciplines">Disciplines</a>
</nav>

<!-- Lines 27-58 (Curry) -->
<table id="citations-table">

	{{! For the first row, print each key of the row object as a header cell to
	know what each column means when the page renders. }}
	<thead>
		<tr>
			{{#each data.[0]}}
				<th>
					{{@key}}
				</th>
			{{/each}}
		</tr>
	</thead>

	<tbody>

		{{! For each row, print the `citation_id`, `citing_paper_id`, and `cited_paper_id` }}
		{{#each data}}

			<tr>
				<td>{{this.CitationId}}</td>
				<td>{{this.CitingPaper}}</td>
				<td>{{this.CitedPaper}}</td>

				<!-- Create a DELETE operation button for each attribute displayed. -->
				<td><button
						onclick="deleteCitation({{this.CitationId}})"
					>Delete</button></td>
			</tr>
		{{/each}}
	</tbody>
</table>

<div class="container">
		<!-- Create a form to add new citations with asynchronous JavaScript and XML (AJAX). -->
			<div>

		<h2>Add Citation</h2>
		<p>Select existing publications below.</p>

		<!-- Lines 56-80 (Curry) -->
		<form id="add-citation-form-ajax">

			<!-- Create the input for the `citing_paper_id` constraint. -->
			<label for="input-citing_paper">Citing Paper:</label>

			<!-- Create a dropdown menu linking `citing_paper_id` to its `title` constraint. -->
			<select
				name="input-citing_paper"
				id="citingPaperSelect"
				required
			>
				<option value="">Select </option>
				{{#each citing_papers}}
					<option
						value="{{this.research_paper_id}}"
					>{{this.title}}</option>
				{{/each}}
			</select>

			<!-- Create the input for the `cited_paper_id` constraint. -->
			<label for="input-cited_paper">Cited Paper:</label>

			<!-- Create a dropdown menu linking `cited_paper_id` to its `title` constraint. -->
			<select name="input-cited_paper" id="citedPaperSelect" required>
				<option value="">Select </option>
				{{#each citing_papers}}
					<option
						value="{{this.research_paper_id}}"
					>{{this.title}}</option>
				{{/each}}
			</select>
			<input type="submit" />
		</form></div>

		<!-- Create a form to update existing citations with AJAX. -->
		<div>
		<h2>Update Citation</h2>
		<p>Choose an existing citation, then update each publication.</p>

		<!-- Lines 88-125, 103-127 (Curry) -->
		<form id="update-citation-form-ajax">

			<!-- Create the input for the `citation_id` constraint. -->
			<label for="input-citation-update">Existing Citation: </label>

			<!-- Create a dropdown menu linking `citing_paper_id` and `cited_paper_id` 
	to their `title` constraints; merge the two for each entry. -->
			<select
				name="input-citation-update"
				id="input-citation-update"
				required
			>
				<option value="">Select</option>
				{{#each data}}
					<option value="{{this.CitationId}}">
						{{this.CitingPaper}}
						cites
						{{this.CitedPaper}}</option>
				{{/each}}
			</select>

			<!-- Create the input for the new `citing_paper_id` constraint. -->
			<label for="input-citing_paper-update">New Citing Paper:</label>

			<!-- Create a dropdown menu linking `citing_paper_id` to its `title` constraint. -->
			<select
				name="input-citing_paper-update"
				id="input-citing_paper-update"
				required
			>
				<option value="">Select citing paper</option>
				{{#each citing_papers}}
					<option
						value="{{this.research_paper_id}}"
					>{{this.title}}</option>
				{{/each}}
			</select>

			<!-- Create the input for the new `cited_paper_id` constraint. -->
			<label for="input-cited_paper-update">New Cited Paper:</label>

			<!-- Create a dropdown menu linking `cited_paper_id` to its `title` constraint. -->
			<select
				name="input-cited_paper-update"
				id="input-cited_paper-update"
				required
			>
				<option value="">Select cited paper</option>
				{{#each citing_papers}}
					<option
						value="{{this.research_paper_id}}"
					>{{this.title}}</option>
				{{/each}}
			</select>
			<input type="submit" />
		</form></div></div>

{{! Embed JavaScript for Document Object Model (DOM) manipulation and AJAX requests.
Lines 129-131 (Curry) }}
<script src="./js/add_citation.js"></script>
<script src="./js/update_citation.js"></script>
<script src="./js/delete_citation.js"></script>