<!--
	This page creates the UI for the `Research_Papers` entity that stores data on all publications in the database.

	Code citation:
		Dr. Michael Curry. 2022. 
		"Step 4 - Dynamically Displaying Data". 
		"Step 5 - Adding New Data".
		"Step 6 - Dynamically Filling Dropdowns and Adding a Search Box".
		"Step 8 - Dynamically Updating Data".
		[Source code] https://github.com/osu-cs340-ecampus/nodejs-starter-app/. URL
-->

<h1>Research Papers</h1>

<!-- Display the navigation bar to visit other pages. -->
<nav>
	<a href="/">Index</a>
	<a href="/research_papers">Research Papers</a>
	<a href="/citations">Citations</a>
	<a href="/authors">Authors</a>
	<a href="/research_papers_has_authors">Publications (All)</a>
	<a href="/institutions">Institutions</a>
	<a href="/disciplines">Disciplines</a>
</nav>

<!-- Lines 27-50 (Curry) -->
<table id="research_papers-table">

	{{! For the first row, print each key of the row object as a header cell to
	know what each column means when the page renders. }}
	<thead>
		<tr>
			{{#each data.[0]}}
				<th>
					{{@key}}
				</th>
			{{/each}}
		</tr>
	</thead>

	<tbody>

		{{! For each row, print the `research_paper_id`, `title`, `date_published`,
		`doi`, `institution_id` foreign key, and `discipline_id` foreign key. }}
		{{#each data}}

			<tr>
				<td
					class="research_paper_id-cell"
				>{{this.ResearchPaperId}}</td>
				<td class="title-cell">{{this.Title}}</td>
				<td class="date_published-cell">{{this.DatePublished}}</td>
				<td class="doi-cell">{{this.DOI}}</td>
				<td class="institution_id-cell">{{this.Institution}}</td>
				<td class="discipline_id-cell">{{this.Discipline}}</td>

				<!-- Create a DELETE operation button for each attribute displayed. -->
				<td class="delete-button-cell">
					<button
						onclick="deleteResearchPaper({{this.ResearchPaperId}})"
					>Delete</button>
				</td>
			</tr>{{/each}}
	</tbody>
</table>

<div class="container">

	<!-- Create a form to add new research papers with asynchronous JavaScript and XML (AJAX). -->
	<div><h2>Add Research Paper</h2>
		<p>Finish the forms below.</p>

		<!-- Lines 59-96 (Curry) -->
		<form id="add-research_paper-form-ajax">

			<!-- Create the input for the `title` constraint. -->
			<label for="input-title">Title: </label>
			<input
				type="text"
				name="input-title"
				id="input-title"
				required
			/>

			<!-- Create the input for the `date_published` constraint. -->
			<label for="input-date_published">Date Published: </label>
			<input
				type="date"
				name="input-date_published"
				id="input-date_published"
				required
			/>

			<!-- Create the input for the `doi` constraint. -->
			<label for="input-doi">DOI: </label>
			<input type="text" name="input-doi" id="input-doi" required />

			<!-- Create the input for the `institution_id` foreign key. -->
			<label for="input-institution">Institution: </label>

			<!-- Create a dropdown menu linking `institution_id` to its `name` constraint. -->
			<select name="input-institution" id="institutionSelect">
				<option value="">Select</option>
				{{#each institutions}}
					<option
						value="{{this.institution_id}}"
					>{{this.name}}</option>
				{{/each}}
			</select>

			<!-- Create the input for the `discipline_id` foreign key. -->
			<label for="input-discipline">Discipline: </label>

			<!-- Create a dropdown menu linking `discipline_id` to its `field` constraint. -->
			<select name="input-discipline" id="disciplineSelect" required>
				<option value="">Select</option>
				{{#each disciplines}}
					<option
						value="{{this.discipline_id}}"
					>{{this.field}}</option>
				{{/each}}
			</select>

			<input type="submit" />
		</form></div>

	<!-- Create a form to update existing research papers with AJAX. -->
	<div><h2>Update Research Paper</h2>
		<p>Choose an existing publication.</p>

		<!-- Lines 103-151 (Curry) -->
		<form id="update-research_paper-form-ajax">

			<!-- Create the input for the `title` constraint. -->
			<label for="input-title">Existing Title: </label>

			<!-- Create a dropdown menu linking `research_paper_id` to its `title` constraint. -->
			<select name="input-title" id="researchPaperSelect" required>
				<option value="">Select</option>
				{{#each data}}
					<option
						value="{{this.ResearchPaperId}}"
					>{{this.Title}}</option>
				{{/each}}
			</select>

			<!-- Create the input for the new `title` constraint. -->
			<label for="input-title-update">New Title: </label>
			<input
				type="text"
				name="input-title-update"
				id="input-title-update"
				required
			/>

			<!-- Create the input for the new `date_published` constraint. -->
			<label for="input-date_published-update">Date Published: </label>
			<input
				type="date"
				name="input-date_published-update"
				id="input-date_published-update"
				required
			/>

			<!-- Create the input for the new `doi` constraint. -->
			<label for="input-doi-update">DOI: </label>
			<input
				type="text"
				name="input-doi-update"
				id="input-doi-update"
				required
			/>

			<!-- Create the input for the new `institution_id` constraint. -->
			<label for="input-institution-update">Institution: </label>

			<!-- Create a dropdown menu linking `institution_id` to its `name` constraint. -->
			<select
				name="input-institution-update"
				id="input-institution-update"
			>
				<option value="">Select institution</option>
				{{#each institutions}}
					<option
						value="{{this.institution_id}}"
					>{{this.name}}</option>
				{{/each}}
			</select>

			<!-- Create the input for the new `discipline_id` constraint. -->
			<label for="input-discipline-update">Discipline </label>

			<!-- Create a dropdown menu linking `discipline_id` to its `field` constraint. -->
			<select
				name="input-discipline-update"
				id="input-discipline-update"
				required
			>
				<option value="">Select discipline</option>
				{{#each disciplines}}
					<option
						value="{{this.discipline_id}}"
					>{{this.field}}</option>
				{{/each}}
			</select>

			<input type="submit" />
		</form></div>
</div>

{{! Embed JavaScript for Document Object Model (DOM) manipulation and AJAX requests.
Lines 157-159 (Curry) }}
<script src="./js/add_research_paper.js"></script>
<script src="./js/update_research_paper.js"></script>
<script src="./js/delete_research_paper.js"></script>